@import '../../styles/variables';

.root {
  padding: 4px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $primary-600;
  border-radius: 8px;
  border: 1px solid $primary-600;
  background: $base-background;
  appearance: none;
  transition: color, background-color 250ms;

  &:hover {
    background-color: #037bff;
    color: $surface-blank;
  }

  &_active {
    color: $surface-blank;
    background-color: $primary-600;

    &:hover {
      background-color: $primary-700;
    }
  }

  &_disabled,
  &:disabled {
    opacity: 0.5;
  }
}
