@import '../../styles/variables';

.products {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(145px, auto);
}

@media screen and (max-width: $screen-medium) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: $screen-small) {
  .products {
    gap: 16px;
  }
}

@media screen and (max-width: $screen-x-small) {
  .products {
    max-width: 448px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
  }
}
