$screen-x-small: 576px;
$screen-small: 768px;
$screen-medium: 1024px;

$primary-700: #186aea;
$primary-600: #037bff;
$primary-500: #008bff;

$secondary-300: #889bb1;
$secondary-200: #a8b8ca;
$secondary-50: #e7eef9;

$base-background: #ffffff;

$surface-high: rgba(0, 0, 0, 0.96);
$surface-mid: #858585;
$surface-low: #dddddd;
$surface-blank: #ffffff;

$accent-approving: #20b02e;
$accent-approving-background: #e6f5e6;
