@import '../../styles/variables';

.root {
  background-color: $base-background;
  padding: 24px 20px;
  border-radius: 16px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
}

.headerWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.headerIcon {
  margin-top: 4px;
  margin-right: 8px;
}

.header {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: $primary-600;
}

.form {
  display: flex;
}

.fieldset {
  border: none;
  margin: 0 24px 0 0;
  padding: 0;
}

.legend {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: $secondary-200;
  padding: 0;
  margin-bottom: 16px;
}

.buttonRow {
  display: flex;
  & > *:not(:last-child) {
    margin-right: 12px;
  }
}

.checkboxes {
  display: flex;
  margin-top: 5px;

  & > *:not(:last-child) {
    margin-right: 16px;
  }
}

@media screen and (max-width: $screen-medium) {
  .root {
    padding: 24px 12px;
  }

  .buttonRow {
    display: flex;
    flex-wrap: wrap;

    & > * {
      margin-bottom: 12px;
    }
  }
}

@media screen and (max-width: $screen-small) {
  .form {
    display: block;
  }

  .fieldset {
    margin-right: 0;
  }

  .fieldset:not(:last-child) {
    margin-bottom: 16px;
  }

  .checkboxes {
    margin-top: 0;
  }
}
